# Apache Spark: SQL/DataFrames

Un DataFrame es una **representación relacional de los datos**. Los DataFrames son similares a las tablas relacionales o DataFrames en Python aunque con muchas optimizaciones que se ejecutan de manera "oculta" para el usuario.

In [1]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

### Crear la sesión de Spark

In [3]:
spark = SparkSession.builder.getOrCreate()

### Crear el DataFrame

In [4]:
emp = [(1, "aa", "level1", 2000),
    (2, "bb", "level1", 2200),
    (3, "cc", "level2", 5000),
    (4, "dd", "level2", 6300),
    (5, "ff", "level3", 7200),
    (6, "gg", "level3", 9500)]

df = spark.createDataFrame(emp, ["id", "nombre", "dept", "salary"])

In [5]:
df.show()

+---+------+------+------+
| id|nombre|  dept|salary|
+---+------+------+------+
|  1|    aa|level1|  2000|
|  2|    bb|level1|  2200|
|  3|    cc|level2|  5000|
|  4|    dd|level2|  6300|
|  5|    ff|level3|  7200|
|  6|    gg|level3|  9500|
+---+------+------+------+